*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background-color: aqua;*/
}

.galeria{
    /*font-family: 'open sans';*/
    background-color: rgba(0, 0, 0, 0.06)    ;
}

.galeria h2{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #0077C0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    padding-top: 7PX;
}

.contenedor-imagenes .imagen{
    width: 8%;
    position: relative;
    height: 100%;
    margin-bottom: 5px;
    /*box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);*/
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.triangulo {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(195, 171, 250, 0.527);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #000000;
}

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:900px){
    .overlay h2{
        font-size: 10px;
    }
}

@media screen and (max-width:700px){
    .imagen:hover .overlay{
        height: 0;
    }
}
